# Import

In [2]:
import pandas as pd
import sqlite3

## Description


This file is a implementation of saving a file as SQL and do some SQL function like query, groupby, ETC

Note that, SQLite accept these data type, we may have to take a peek at our data before save to SQLite database:

<code> Int, float, str, bytes, None ==> Python </code>

<code> INTEGER, REAL, TEXT, BLOB, NULL ==> SQLite type </code>

In [4]:
data = pd.read_csv('F:\\For work\\News data_cleaned.csv')

print("There are", len(data), "rows in the CSV file.")
print("This is data columns:", data.columns)

There are 905500 rows in the CSV file.
This is data columns: Index(['title', 'publisher', 'publishTimeUnix', 'categoryName', 'viewCount',
       'cleaned_title', 'publish_year', 'publish_month', 'publish_day',
       'publish_day_of_week', 'publish_date', 'publish_hour', 'month_year'],
      dtype='object')

# Data Preparation for SQL Database

<code> I will divided the data into text and non-text data </code>

In [8]:
numeric_columns = data.select_dtypes(include=['int64', 'float64']).columns
print("Numeric columns:", numeric_columns)

Numeric columns: Index(['viewCount', 'publish_year', 'publish_month', 'publish_day',
       'publish_hour'],
      dtype='object')

In [10]:
text_columns = data.select_dtypes(include=['object']).columns
print("Text columns:", text_columns)

Text columns: Index(['title', 'publisher', 'publishTimeUnix', 'categoryName',
       'cleaned_title', 'publish_day_of_week', 'publish_date', 'month_year'],
      dtype='object')

In [11]:
data.columns

Index(['title', 'publisher', 'publishTimeUnix', 'categoryName', 'viewCount',
       'cleaned_title', 'publish_year', 'publish_month', 'publish_day',
       'publish_day_of_week', 'publish_date', 'publish_hour', 'month_year'],
      dtype='object')

In [12]:
data.head()

,title,publisher,publishTimeUnix,categoryName,viewCount,cleaned_title,publish_year,publish_month,publish_day,publish_day_of_week,publish_date,publish_hour,month_year
0,ขอแสดงความเสียใจ นายศักดิ์ชัย แน่นอุดร พ่อค้าส...,ThaiNews - ไทยนิวส์ออนไลน์,2022-10-17 06:56:17,ทั่วไป,70950,ขอแสดงความเสียใจนายศักดิ์ชัยแน่นอุดรพ่อค้าส้มต...,2022,10,17,Monday,2022-10-17,6,2022-10
1,เปิดคลิปนาที จอนนี่มือปราบ รวบไอ้ดิว ลูกจ้างร้...,BRIGHTTV.CO.TH,2022-10-17 06:56:17,ทั่วไป,21973,เปิดคลิปนาทีจอนนี่มือปราบรวบไอ้ดิวลูกจ้างร้านเ...,2022,10,17,Monday,2022-10-17,6,2022-10
2,Pfizer ประสิทธิผลเหลือ 69.7% ในการป้องกันไวรัส...,ฐานเศรษฐกิจ,2022-10-17 06:56:17,ทั่วไป,17266,Pfizerประสิทธิผลเหลือ697ในการป้องกันไวรัสเดลตา...,2022,10,17,Monday,2022-10-17,6,2022-10
3,เข้าเต็มๆ! เจ๊ฟองเบียร์888 หลังให้เลขเด็ด 35-9...,BRIGHTTV.CO.TH,2022-10-17 06:56:17,ทั่วไป,13954,เข้าเต็มๆเจ๊ฟองเบียร์888หลังให้เลขเด็ด35935คอห...,2022,10,17,Monday,2022-10-17,6,2022-10
4,เปิดเลข…ครั้งสุดท้าย! แม่น้ำหนึ่ง เมื่อคืนนี้!!,TOJO NEWS,2022-10-17 06:56:17,ทั่วไป,12351,เปิดเลขครั้งสุดท้ายแม่น้ำหนึ่งเมื่อคืนนี้,2022,10,17,Monday,2022-10-17,6,2022-10

In [13]:
# A lot data need to be in the form of string because SQL does not support datetime objects, so save them as strings to aviod integer overflow

data['title'] = data['title'].astype(str)
data['cleaned_title'] = data['cleaned_title'].astype(str)
data['publisher'] = data['publisher'].astype(str)
data['categoryName'] = data['categoryName'].astype(str)
data['viewCount'] = data['viewCount'].astype(int)
data['publishTimeUnix'] = data['publishTimeUnix'].astype(str)
data['month_year'] = data['month_year'].astype(str)
data['publish_date'] = data['publish_date'].astype(str)
data['publish_year'] = data['publish_year'].astype(str)
data['publish_month'] = data['publish_month'].astype(str)
data['publish_day'] = data['publish_day'].astype(str)
data['publish_day_of_week'] = data['publish_day_of_week'].astype(str)
data['publish_hour'] = data['publish_hour'].astype(str)

## Data Base Creation

In [16]:
### Save data to SQLite database

db_path = 'F:\\For work\\SQL-Lite3 project\\news.db'

conn = sqlite3.connect(db_path)

data.to_sql('news', conn, if_exists='replace', index=False)

# Parameters = (table_name, connection, if_exists (Check if exist then perform x ), index)

905500

## Perform SQL Basic Query

### Pull all data from the database

In [ ]:
conn = sqlite3.connect(db_path)

query = "SELECT * FROM news"

data_from_sql = pd.read_sql(query, conn)

print("There are", len(data_from_sql), "rows in the SQL table.")

print("This is data columns:", data_from_sql.columns)

data_from_sql.head()

# Check if the data is the same as the original data

data.equals(data_from_sql)

# Close the connection, do not forget to close the connection otherwise it will be overkill the system
conn.close()