# Import

In [1]:
import pandas as pd

## Description

A Pandas Series is like a columns in a table. <br>

It's a one-dimensional array holding data of any type <br>

In [6]:
#Create a list of numbers
a = [1,7,2]

#Parse the list into a pandas series, resulting in a 1D array
series = pd.Series(a)

print(series)
print(series[0])#Print the first element of the series

0    1
1    7
2    2
dtype: int64
1

In [9]:
# Same series but add labels to the elements

series = pd.Series(a, index =['first', 'second', 'third']) #Add index labels to the series, the labels are the second argument

print(series)
print(series['first'])

first     1
second    7
third     2
dtype: int64
1

In [11]:
# Create a series from a dictionary

dict = {'one': 1, 'two': 7, 'three': 2}

series = pd.Series(dict)

print(series)

one      1
two      7
three    2
dtype: int64

Now this is a bit pythonic, Data sets in Pandas are usually multi-dimensional tables, called DataFrames.<br>

Series is like a columns, a DataFrame is the whole table.

In [12]:
#Create a dictionary where key is the column name and the value is a list of values, it's call dictionary of lists
data = {
    'name': ['John', 'Anna', 'Peter', 'Linda'],
    'Location': ['New York', 'Paris', 'Berlin', 'London'],
    'Age': [24, 13, 53, 33]
}

series_from_dict = pd.DataFrame(data)

print(series_from_dict) #parse the dictionary into a pandas dataframe, this will result in a 2D array

    name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

In [13]:
series_from_dict

    name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33